@import "../colors";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", serif;
}

body {
  background: $color-background;
  justify-content: center;
  position: relative;
  height: 100%;
}

@import "topnav";

@import "main";

h2 {
  color: $color-dark;
  background-color: $color-main;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  margin: 24px;
  box-shadow: 0 2px 2px $color-shadow;
}

.items {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

  .item-wrap {
    background-color: $color-light;
    width: 95%;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 0 2px 2px $color-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item-content {
      padding: 8px;
      min-width: 115px;
      color: $color-dark;
      display: flex;
      justify-content: center;
    }

    label {
      padding: 4px;
    }

    button {
      color: $color-dark;
      border: none;
      border-radius: 10px;
      padding: 8px;
      background-color: $color-main;
      cursor: pointer;
      font-size: 12pt;
      float: right;
    }
  }
}

.basket-submit {
  float: right;
  color: $color-dark;
  border: none;
  border-radius: 10px;
  font-size: 18pt;
  padding: 8px;
  width: 150px;
  margin: 8px;
  cursor: pointer;

  background-size: 200% 100%;
  background-image: linear-gradient(to left, $color-light 50%, $color-main 50%);
  -webkit-transition: background-position 0.5s;
  -moz-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

.basket-submit:hover {
  background-position: 100% 0;
}
