@import "../colors";

.topnav {
  width: 100%;
  overflow: hidden;
  height: 50px;
  background-color: $color-main;
  border-radius: 10px;
  box-shadow: 0 2px 2px $color-shadow;

  .search-wrap {
    float: left;
    width: 30%;
    margin-top: 12px;
    margin-left: 12px;
  }

  form {
    width: 100%;
    position: relative;
    display: flex;
  }

  .search {
    float: left;
    height: 25px;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: $color-dark;
    background-color: $color-main;
    outline: $color-light solid 1.5px;
    transition: background-color 0.2s ease-out 0.1s;
    text-align: center;
  }

  input:focus {
    background-color: $color-light;
  }

  .search-button {
    width: 40px;
    height: 26px;
    border: none;
    margin-left: 5px;
    background: $color-light;
    color: $color-dark;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s;
  }

  .control-panel-button {
    background: $color-light;
    color: $color-dark;
    text-decoration: none;
  }

  .dropdown{
    float: right;
    height: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    height: 100px;
    background-color: $color-light;
    border-radius: 10px;
    top: 40px;
    box-shadow: 0 2px 2px $color-shadow;
    transition: 0.5s;
  }

  .log-out {
    width: 100%;
  }

  .dropdown-content a {
    display: flex;
    width: 100%;
    text-decoration: none;
  }

  .settings-button, .log-out-button {
    border: none;
    cursor: pointer;
    width: 100%;
    color: $color-dark;
    background-color: $color-main;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 4px;
    padding: 8px;
    font-size: 16px;

    background-size: 200% 100%;
    background-image: linear-gradient(to right, $color-light 50%, $color-main 50%);
    -webkit-transition: background-position 0.5s;
    -moz-transition: background-position 0.5s;
    transition: background-position 0.5s;
  }

  .log-out-button:hover, .settings-button:hover {
    background-position: -100% 0;
  }

  .show-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-light;
  }

  .settings{
    float: right;
    width: 40px;
    height: 30px;
    margin-top: 10px;
    margin-right: 12px;
    border: none;
    background-color: $color-main;
    color: $color-dark;
    outline: $color-light solid 1.5px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    background-image: url("../images/profile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .settings:hover {
    background-color: $color-light;
  }

  .home {
    float: left;
    display: block;
    color: $color-dark;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;

    background-size: 200% 100%;
    background-image: linear-gradient(to right, $color-main 50%, $color-light 50%);
    -webkit-transition: background-position 0.5s;
    -moz-transition: background-position 0.5s;
    transition: background-position 0.5s;
  }

  .home:hover{
    background-position: -100% 0;
  }

  .my-books {
    float: left;
    display: block;
    height: 100%;
    color: $color-dark;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;

    background-size: 200% 100%;
    background-image: linear-gradient(to left, $color-light 50%, $color-main 50%);
    -webkit-transition: background-position 0.5s;
    -moz-transition: background-position 0.5s;
    transition: background-position 0.5s;
  }

  .my-books:hover{
    background-position: 100% 0;
  }
}